html {
    font-size: 20px;
    overflow: auto;
    font-family: 'Prompt', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
  }

body {
    margin: 0;
    padding: 0;
}
/** Header **/
header {
    background-color: #ffffff;
    color: #000000;
    text-align: end;
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid lightgrey;

    align-items: center;
}

header img {
    height: 3rem;
    width: 3rem;
    padding-left: 1rem;
}

header h3 {
    padding-right: 1rem;
}

/** butt **/


/** Banner **/
.banner {
    display: flex;
    background-image: url(resources/images/mark-zanzig-21Bbyue8cnE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-around;
    text-align: center;
    height: 30rem;
    margin-bottom: 2rem;
}

.banner h1 {
    align-self: center;
    color: white;
    background-color: black;
    width: 100%;
    
}

/** Main **/

.container {
    display: flex;
    flex-direction: column;

}

.content-first img,
.content-second img {
    height: 40rem;
    width: 30rem;
    object-fit: cover;
    display: inline-block;
}

.content-first {
    display: inline-flex;
    padding: 0 0 2rem  0;
    width: 100%;
    justify-content: space-evenly;
    height: fit-content;
}

.content-first .desc {
    width: 50%;
    padding-left: 1rem ;
    text-align: center;
    align-items: stretch;
    font-size: 1.5rem;
    
}

.content-second {
    display: inline-flex;
    padding: 0 0 2rem  0;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.content-second .desc {
    width: 50%;
    padding-left: 1rem ;
    text-align: center;
    align-items: stretch;
    font-size: 1.5rem;
}
/* Media Queries */

@media screen and (max-width: 768px) {
    

    .content-first,
    .content-second {
        flex-direction: column;
    }

    .content-first img,
    .content-second img {
        height: auto;
        width: 100%;
    }
}



/** Footer **/

footer {
  
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
